<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>bbb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>imu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>int.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>log.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7744EDF51E58530E004EC3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7744EDFF1E585343004EC3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7744EE131E5853C1004EC3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A313C61E5849940030B101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B145881E5820D700988FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B145C61E58210F00988FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B18BC21E58452300DDD8B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B18BCA1E5845DD00DDD8B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F29D4B1E585B9A00EC907D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
